<div class="row">
  <div class="small-12 columns">
    <div class="title">
       <h1>Ecco</h1>
    </div>
  </div>
</div>

<div class="large-12 columns">
  <div class="newspaper-single-card">
    <%= image_tag("#{@article.newspaper}.png", :alt => @article.newspaper) %>
      <h1><%= @article.headline %></h1>
      <p><%= @article.description%><p>
      <div class="bgr-image">
        <img src= "<%= @article.image_url%>"></img>
      </div>
  </div>
</div>
