// Place all the styles related to the FirstStep controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  text-align: center;
  font-family: "Gothic", serif;
}

.newspaper-card {
  border: 1px solid #cecece;
  padding: 20px 20px;
  margin-bottom: 20px;
  min-height: 500px;

  .bg-image {
    min-height: 160px;
    background-size: cover;
  }
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .button{
  font-weight: bold;
  float:right;

 }
}

.newspaper-single-card {
  border: 1px solid #cecece;
  padding: 20px 20px;
  margin-bottom: 20px;
  min-height: 800px;

.bgr-image {
  background-size: cover;
  background-repeat: no-repeat;
  }
}
