// Place all the styles related to the FirstStep controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{
  background-size: cover;
  padding-top: 50px;
}

.sticky {
  width: 100%;
}

.logo {
  min-height: 150px;
  background-color: white;
}

.title, .title > h1 {
  font-family: 'Cinzel', serif;
  padding: 20px 20px;
  text-align: center;
}

.newspaper-card {
  border: 1px solid #cecece;
  padding: 30px 30px;
  margin-bottom: 200px;
  min-height: 750px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.60);
  border-radius: 25px;


  .flag {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 1px;
    margin-right: 100px;

  }

  .bg-image {
    min-height: 160px;
    background-size: cover;
  }
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}


.newspaper-single-card {
  border: 1px solid #cecece;
  padding: 20px 20px;
  margin-bottom: 20px;
  min-height: 800px;


  .bgr-image {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.full-article{
  text-align: justify;
  text-indent: 50px;
}
